.weather {
    background: rgba(66, 226, 173, 0.859);
    width: 400px; 
    height: 250px; 
    left: 50%; 
    margin: -130px 0 0 -210px; 
    padding:10px;
    position: absolute; 
    top: 50%;
    border-radius: 10px;
    color: white;   
}